<!-- resources/templates/image-view.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Image Viewer</title>
</head>
<body>
<h1>Image Viewer</h1>
<div>
    <!-- 이미지 경로는 컨트롤러에서 제공하는 URL을 사용 -->

    <!--img src="https://bucket-rlawlals.s3.us-east-2.amazonaws.com/시간 추가.png"
         alt="...."-->


    <img th:src="${imageLink}" alt="...">


    <p th:text="'링크 : ' + ${imageLink}">안녕하세요, 손님</p>

</div>
<div class="row">
    <div class="col">
        <button class="btn btn-primary float-end"
                onclick="location.href='addForm.html'"
                th:onclick="|location.href='@{/spring/imageList}'|"

                type="button">저장한 이미지 리스트
        </button>
    </div>
</div>
</body>
</html>
